# Migration between Scotland and Overseas

In [1]:
from gssutils import *
scraper = Scraper('https://www.nrscotland.gov.uk/statistics-and-data/statistics/' \
                      'statistics-by-theme/migration/migration-statistics/migration-between-scotland-and-overseas')
scraper

## Migration between Scotland and Overseas

Migration between Scotland and overseas refers to people moving between
Scotland and any country outside the UK.

Due to the sources of data used by National Records of Scotland (NRS) to
estimate migration, the country or group of countries that overseas migrants
come from cannot be identified.


### Distributions

1. Migration between administrative areas and overseas by sex ([MS Excel Spreadsheet](https://www.nrscotland.gov.uk/files//statistics/migration/2018-july/tab-z1-overseas-mig-flows-admin-sex-hb-2001-02-latest-july-18.xlsx))
1. Migration between administrative areas and overseas by sex ([text/csv](https://www.nrscotland.gov.uk/files//statistics/migration/2018-july/tab-z1-overseas-mig-flows-admin-sex-hb-2001-02-latest-july-18.zip))
1. Migration between Scotland and overseas by age ([MS Excel Spreadsheet](https://www.nrscotland.gov.uk/files//statistics/migration/2018-july/tab-z2-overseas-mig-flows-by-age-scotland-2001-02-latest-july-18.xlsx))
1. Migration between Scotland and overseas by age ([text/csv](https://www.nrscotland.gov.uk/files//statistics/migration/2018-july/tab-z2-overseas-mig-flows-by-age-scotland-2001-02-latest-july-18.zip))

In [2]:
databaker_sheets = {sheet.name: sheet for sheet in scraper.distribution(
    title='Migration between administrative areas and overseas by sex',
    mediaType=Excel).as_databaker()}

In [3]:
next_table = pd.DataFrame()

In [4]:
%%capture

tab = databaker_sheets['Net-Council Area-Sex']
%run "Migration between Scotland and Overseas by sex-balance.ipynb"
next_table = pd.concat([next_table, new_table])

tab = databaker_sheets['In-Council Area-Sex']
%run "Migration between Scotland and Overseas by sex-inflow.ipynb"
next_table = pd.concat([next_table, new_table])

tab = databaker_sheets['Out-Council Area-Sex']
%run"Migration between Scotland and Overseas by sex-outflow.ipynb"
next_table = pd.concat([next_table, new_table])

In [5]:
distribution = scraper.distribution(
    title='Migration between Scotland and overseas by age',
    mediaType='application/vnd.ms-excel')
tabs = distribution.as_databaker()

%run"In, out and net migration by age group between Scotland and overseas 2001 to 2017.ipynb"
next_table = pd.concat([next_table, Final_table])

%run"In, out and net migration of persons between Scotland and overseas by single year of age  2001-17.ipynb"
next_table = pd.concat([next_table, Final_table])

tab = distribution.as_pandas(sheet_name = 'SYOA Females (2001-)')
%run"In, out and net migration of persons between Scotland and overseas by single year of age  2001-17-female.ipynb"
next_table = pd.concat([next_table, Final_table])

In [6]:
next_table.count()

Area of Destination or Origin    19439
Mid Year                         19439
Sex                              19439
Age                              19439
Flow                             19439
Measure Type                     19439
Value                            19439
Unit                             19439
dtype: int64

In [7]:
next_table.head()

,Area of Destination or Origin,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
0,Aberdeen City,2001-06-30T00:00:00/P1Y,T,all,Balance,Count,833,People
1,Aberdeen City,2002-06-30T00:00:00/P1Y,T,all,Balance,Count,385,People
2,Aberdeen City,2003-06-30T00:00:00/P1Y,T,all,Balance,Count,874,People
3,Aberdeen City,2004-06-30T00:00:00/P1Y,T,all,Balance,Count,2150,People
4,Aberdeen City,2005-06-30T00:00:00/P1Y,T,all,Balance,Count,2138,People

In [8]:
next_table.tail()

,Area of Destination or Origin,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
1558,Movements between Scotland and the rest of the UK,2012-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-23,People
1559,Movements between Scotland and the rest of the UK,2013-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-27,People
1560,Movements between Scotland and the rest of the UK,2014-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-15,People
1561,Movements between Scotland and the rest of the UK,2015-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-20,People
1562,Movements between Scotland and the rest of the UK,2016-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-17,People

In [9]:
next_table.columns = ['Area of Destination or Origin1' if x=='Area of Destination or Origin' else x for x in next_table.columns]

In [10]:
import pandas as pd
c=pd.read_csv("scottish-geo-lookup.csv")

In [11]:
c

                        label   notation
0                    Scotland  S92000003
1            Clackmannanshire  S12000005
2                Glasgow City  S12000046
3       Dumfries and Galloway  S12000006
4               East Ayrshire  S12000008
5                East Lothian  S12000010
6           East Renfrewshire  S12000011
7                     Falkirk  S12000014
8                        Fife  S12000015
9                    Highland  S12000017
10                 Inverclyde  S12000018
11                 Midlothian  S12000019
12                      Moray  S12000020
13             North Ayrshire  S12000021
14             Orkney Islands  S12000023
15          Perth and Kinross  S12000024
16           Scottish Borders  S12000026
17           Shetland Islands  S12000027
18             South Ayrshire  S12000028
19          South Lanarkshire  S12000029
20                   Stirling  S12000030
21              Aberdeen City  S12000033
22              Aberdeenshire  S12000034
23            Argyll and Bute  S12000035
24          City of Edinburgh  S12000036
25               Renfrewshire  S12000038
26        West Dunbartonshire  S12000039
27               West Lothian  S12000040
28                      Angus  S12000041
29                Dundee City  S12000042
30          North Lanarkshire  S12000044
31        East Dunbartonshire  S12000045
32         Na h-Eileanan Siar  S12000013
33         Ayrshire and Arran  S08000015
34              Western Isles  S08000028
35                    Borders  S08000016
36      Dumfries and Galloway  S08000017
37                       Fife  S08000018
38               Forth Valley  S08000019
39                   Grampian  S08000020
40  Greater Glasgow and Clyde  S08000021
41                   Highland  S08000022
42                Lanarkshire  S08000023
43                    Lothian  S08000024
44                     Orkney  S08000025
45                   Shetland  S08000026
46                    Tayside  S08000027
47              Argyll & Bute  S12000035

In [12]:
Final_table = pd.merge(next_table, c, how = 'left', left_on = 'Area of Destination or Origin1', right_on = 'label')

In [13]:
Final_table

,Area of Destination or Origin1,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit,label,notation
0,Aberdeen City,2001-06-30T00:00:00/P1Y,T,all,Balance,Count,833,People,Aberdeen City,S12000033
1,Aberdeen City,2002-06-30T00:00:00/P1Y,T,all,Balance,Count,385,People,Aberdeen City,S12000033
2,Aberdeen City,2003-06-30T00:00:00/P1Y,T,all,Balance,Count,874,People,Aberdeen City,S12000033
3,Aberdeen City,2004-06-30T00:00:00/P1Y,T,all,Balance,Count,2150,People,Aberdeen City,S12000033
4,Aberdeen City,2005-06-30T00:00:00/P1Y,T,all,Balance,Count,2138,People,Aberdeen City,S12000033
5,Aberdeen City,2006-06-30T00:00:00/P1Y,T,all,Balance,Count,3752,People,Aberdeen City,S12000033
6,Aberdeen City,2007-06-30T00:00:00/P1Y,T,all,Balance,Count,3030,People,Aberdeen City,S12000033
7,Aberdeen City,2008-06-30T00:00:00/P1Y,T,all,Balance,Count,3669,People,Aberdeen City,S12000033
8,Aberdeen City,2009-06-30T00:00:00/P1Y,T,all,Balance,Count,3742,People,Aberdeen City,S12000033
9,Aberdeen City,2010-06-30T00:00:00/P1Y,T,all,Balance,Count,4130,People,Aberdeen City,S12000033
10,Aberdeen City,2011-06-30T00:00:00/P1Y,T,all,Balance,Count,2102,People,Aberdeen City,S12000033
11,Aberdeen City,2012-06-30T00:00:00/P1Y,T,all,Balance,Count,1302,People,Aberdeen City,S12000033
12,Aberdeen City,2013-06-30T00:00:00/P1Y,T,all,Balance,Count,1965,People,Aberdeen City,S12000033
13,Aberdeen City,2014-06-30T00:00:00/P1Y,T,all,Balance,Count,3189,People,Aberdeen City,S12000033
14,Aberdeen City,2015-06-30T00:00:00/P1Y,T,all,Balance,Count,2474,People,Aberdeen City,S12000033
15,Aberdeen City,2016-06-30T00:00:00/P1Y,T,all,Balance,Count,1491,People,Aberdeen City,S12000033
16,Aberdeenshire,2001-06-30T00:00:00/P1Y,T,all,Balance,Count,-138,People,Aberdeenshire,S12000034
17,Aberdeenshire,2002-06-30T00:00:00/P1Y,T,all,Balance,Count,-334,People,Aberdeenshire,S12000034
18,Aberdeenshire,2003-06-30T00:00:00/P1Y,T,all,Balance,Count,127,People,Aberdeenshire,S12000034
19,Aberdeenshire,2004-06-30T00:00:00/P1Y,T,all,Balance,Count,623,People,Aberdeenshire,S12000034
20,Aberdeenshire,2005-06-30T00:00:00/P1Y,T,all,Balance,Count,655,People,Aberdeenshire,S12000034
21,Aberdeenshire,2006-06-30T00:00:00/P1Y,T,all,Balance,Count,836,People,Aberdeenshire,S12000034
22,Aberdeenshire,2007-06-30T00:00:00/P1Y,T,all,Balance,Count,405,People,Aberdeenshire,S12000034
23,Aberdeenshire,2008-06-30T00:00:00/P1Y,T,all,Balance,Count,605,People,Aberdeenshire,S12000034
24,Aberdeenshire,2009-06-30T00:00:00/P1Y,T,all,Balance,Count,719,People,Aberdeenshire,S12000034
25,Aberdeenshire,2010-06-30T00:00:00/P1Y,T,all,Balance,Count,723,People,Aberdeenshire,S12000034
26,Aberdeenshire,2011-06-30T00:00:00/P1Y,T,all,Balance,Count,209,People,Aberdeenshire,S12000034
27,Aberdeenshire,2012-06-30T00:00:00/P1Y,T,all,Balance,Count,116,People,Aberdeenshire,S12000034
28,Aberdeenshire,2013-06-30T00:00:00/P1Y,T,all,Balance,Count,124,People,Aberdeenshire,S12000034
29,Aberdeenshire,2014-06-30T00:00:00/P1Y,T,all,Balance,Count,256,People,Aberdeenshire,S12000034
...,...,...,...,...,...,...,...,...,...,...
19841,Movements between Scotland and the rest of the UK,2003-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-3,People,NaN,NaN
19842,Movements between Scotland and the rest of the UK,2004-06-30T00:00:00/P1Y,F,year/89,Balance,Count,1,People,NaN,NaN
19843,Movements between Scotland and the rest of the UK,2005-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-1,People,NaN,NaN
19844,Movements between Scotland and the rest of the UK,2006-06-30T00:00:00/P1Y,F,year/89,Balance,Count,2,People,NaN,NaN
19845,Movements between Scotland and the rest of the UK,2007-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-5,People,NaN,NaN
19846,Movements between Scotland and the rest of the UK,2008-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-3,People,NaN,NaN
19847,Movements between Scotland and the rest of the UK,2009-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-5,People,NaN,NaN
19848,Movements between Scotland and the rest of the UK,2010-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-3,People,NaN,NaN
19849,Movements between Scotland and the rest of the UK,2011-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-2,People,NaN,NaN
19850,Movements between Scotland and the rest of the UK,2012-06-30T00:00:00/P1Y,F,year/89,Balance,Count,1,People,NaN,NaN
19851,Movements between Scotland and the rest of the UK,2013-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-3,People,NaN,NaN
19852,Movements between Scotland and the rest of the UK,2014-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-7,People,NaN,NaN
19853,Movements between Scotland and the rest of the UK,2015-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-1,People,NaN,NaN
19854,Movements between Scotland and the rest of the UK,2016-06-30T00:00:00/P1Y,F,year/89,Balance,Count,-6,People,NaN,NaN
19855,Movements between Scotland and the rest of the UK,2001-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-10,People,NaN,NaN
19856,Movements between Scotland and the rest of the UK,2002-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-11,People,NaN,NaN
19857,Movements between Scotland and the rest of the UK,2003-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-6,People,NaN,NaN
19858,Movements between Scotland and the rest of the UK,2004-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-16,People,NaN,NaN
19859,Movements between Scotland and the rest of the UK,2005-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-12,People,NaN,NaN
19860,Movements between Scotland and the rest of the UK,2006-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-10,People,NaN,NaN
19861,Movements between Scotland and the rest of the UK,2007-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-19,People,NaN,NaN
19862,Movements between Scotland and the rest of the UK,2008-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-10,People,NaN,NaN
19863,Movements between Scotland and the rest of the UK,2009-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-4,People,NaN,NaN
19864,Movements between Scotland and the rest of the UK,2010-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-8,People,NaN,NaN
19865,Movements between Scotland and the rest of the UK,2011-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-3,People,NaN,NaN
19866,Movements between Scotland and the rest of the UK,2012-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-23,People,NaN,NaN
19867,Movements between Scotland and the rest of the UK,2013-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-27,People,NaN,NaN
19868,Movements between Scotland and the rest of the UK,2014-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-15,People,NaN,NaN
19869,Movements between Scotland and the rest of the UK,2015-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-20,People,NaN,NaN
19870,Movements between Scotland and the rest of the UK,2016-06-30T00:00:00/P1Y,F,year/90,Balance,Count,-17,People,NaN,NaN

In [14]:
Final_table.columns = ['Area of Destination or Origin' if x=='notation' else x for x in Final_table.columns]

In [15]:
Final_table['Area of Destination or Origin'].unique()

array(['S12000033', 'S12000034', 'S12000041', 'S12000035', 'S12000036',
       'S12000005', 'S12000006', 'S08000017', 'S12000042', 'S12000008',
       'S12000045', 'S12000010', 'S12000011', 'S12000014', 'S12000015',
       'S08000018', 'S12000046', 'S12000017', 'S08000022', 'S12000018',
       'S12000019', 'S12000020', 'S12000013', 'S12000021', 'S12000044',
       'S12000023', 'S12000024', 'S12000038', 'S12000026', 'S12000027',
       'S12000028', 'S12000029', 'S12000030', 'S12000039', 'S12000040',
       nan], dtype=object)

In [16]:
Final_table['Area of Destination or Origin'].fillna('None', inplace = True)

In [17]:
def user_perc(x,y):
    
    if x == 'None' :
        return y
    else:
        return x
    
Final_table['Area of Destination or Origin'] = Final_table.apply(lambda row: user_perc(row['Area of Destination or Origin'], row['Area of Destination or Origin1']), axis = 1)

In [18]:
Final_table['Area of Destination or Origin'].unique()

array(['S12000033', 'S12000034', 'S12000041', 'S12000035', 'S12000036',
       'S12000005', 'S12000006', 'S08000017', 'S12000042', 'S12000008',
       'S12000045', 'S12000010', 'S12000011', 'S12000014', 'S12000015',
       'S08000018', 'S12000046', 'S12000017', 'S08000022', 'S12000018',
       'S12000019', 'S12000020', 'S12000013', 'S12000021', 'S12000044',
       'S12000023', 'S12000024', 'S12000038', 'S12000026', 'S12000027',
       'S12000028', 'S12000029', 'S12000030', 'S12000039', 'S12000040',
       'Movements between Scotland and the rest of the UK',
       'migration of persons from overseas'], dtype=object)

In [19]:
Final_table.head()

,Area of Destination or Origin1,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit,label,Area of Destination or Origin
0,Aberdeen City,2001-06-30T00:00:00/P1Y,T,all,Balance,Count,833,People,Aberdeen City,S12000033
1,Aberdeen City,2002-06-30T00:00:00/P1Y,T,all,Balance,Count,385,People,Aberdeen City,S12000033
2,Aberdeen City,2003-06-30T00:00:00/P1Y,T,all,Balance,Count,874,People,Aberdeen City,S12000033
3,Aberdeen City,2004-06-30T00:00:00/P1Y,T,all,Balance,Count,2150,People,Aberdeen City,S12000033
4,Aberdeen City,2005-06-30T00:00:00/P1Y,T,all,Balance,Count,2138,People,Aberdeen City,S12000033

In [20]:
Final_table = Final_table[['Area of Destination or Origin','Mid Year','Sex', 'Flow','Measure Type','Value','Unit']]

In [21]:
Final_table.head()

,Area of Destination or Origin,Mid Year,Sex,Flow,Measure Type,Value,Unit
0,S12000033,2001-06-30T00:00:00/P1Y,T,Balance,Count,833,People
1,S12000033,2002-06-30T00:00:00/P1Y,T,Balance,Count,385,People
2,S12000033,2003-06-30T00:00:00/P1Y,T,Balance,Count,874,People
3,S12000033,2004-06-30T00:00:00/P1Y,T,Balance,Count,2150,People
4,S12000033,2005-06-30T00:00:00/P1Y,T,Balance,Count,2138,People

In [22]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
Final_table.to_csv(out / 'tidy.csv', index = False)

In [23]:
scraper.dataset.family = 'trade'
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())