# Migration between Scotland and overseas by age

Tabs: `SYOA Persons (2001-)` and `SYOA Males (2001-)`

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.nrscotland.gov.uk/statistics-and-data/statistics/' \
                      'statistics-by-theme/migration/migration-statistics/migration-between-scotland-and-overseas')
#     scraper.run()
    distribution = scraper.distribution(
        mediaType='application/vnd.ms-excel',
        title='Migration between Scotland and overseas by age')
    display(distribution)
    tabs = distribution.as_databaker()

In [2]:
Final_table = pd.DataFrame()

In [3]:
tab = [t for t in tabs if t.name == 'SYOA Males (2001-)'][0]
cell = tab.filter('Year')
age = cell.fill(RIGHT).is_not_blank().is_not_whitespace() | cell.shift(0,1).fill(RIGHT).is_not_blank().is_not_whitespace()
year = cell.shift(0,1).expand(DOWN).is_not_blank().is_not_whitespace()
flow = tab.filter(contains_string('migration')).is_not_blank().is_not_whitespace()
observations = age.fill(DOWN).is_not_blank().is_not_whitespace() 
observations = observations- cell.shift(0,2) - year - flow

Dimensions = [
            HDim(year,'Mid Year',CLOSEST, ABOVE),
            HDim(flow,'Flow',CLOSEST, ABOVE),
            HDim(age,'Age',DIRECTLY, ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Sex','M'),
            HDimConst('Domestic geography','Scotland')
    ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
new_table = c1.topandas()
new_table['Flow'] = new_table['Flow'].map(
    lambda x: {
        'In migration of males from overseas 2001-02 to latest' : 'Inflow', 
        'Out migration of males to overseas 2001-02 to latest' : 'Outflow',
        'Net migration of males from overseas 2001-02 to latest': 'Balance' 
        }.get(x, x))
new_table['Age'] = new_table['Age'].astype(str)
new_table['Age'] = new_table['Age'].map(lambda cell:cell.replace('All ages', 'all'))
new_table['Age'] = 'year/' + new_table['Age']
new_table['Age'] = new_table['Age'].map(lambda cell:cell.replace('.0', ''))
new_table.dropna(subset=['Mid Year'], inplace=True)
new_table['Mid Year'] = new_table['Mid Year'].map(lambda x: str(x)[0:4]) + '-06-30T00:00:00/P1Y'
Final_table = pd.concat([Final_table, new_table])

In [4]:
import numpy as np
Final_table['OBS'].replace('', np.nan, inplace=True)
Final_table.dropna(subset=['OBS'], inplace=True)
if 'DATAMARKER' in Final_table.columns:
    Final_table.drop(columns=['DATAMARKER'], inplace=True)
Final_table.rename(columns={'OBS': 'Value'}, inplace=True)
Final_table['Value'] = Final_table['Value'].astype(int)

In [5]:
Final_table['Foreign geography'] = 'nrs/overseas'

In [6]:
Final_table = Final_table[['Domestic geography','Foreign geography','Mid Year','Sex','Age','Flow','Measure Type','Value','Unit']]

In [7]:
Final_table

,Domestic geography,Foreign geography,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
9,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/all,Inflow,Count,14750,People
10,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/0,Inflow,Count,149,People
11,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/1,Inflow,Count,214,People
12,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/2,Inflow,Count,223,People
13,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/3,Inflow,Count,202,People
14,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/4,Inflow,Count,188,People
15,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/5,Inflow,Count,143,People
16,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/6,Inflow,Count,135,People
17,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/7,Inflow,Count,118,People
18,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/8,Inflow,Count,144,People
19,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/9,Inflow,Count,134,People
20,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/10,Inflow,Count,105,People
21,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/11,Inflow,Count,109,People
22,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/12,Inflow,Count,99,People
23,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/13,Inflow,Count,120,People
24,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/14,Inflow,Count,156,People
25,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/15,Inflow,Count,165,People
26,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/16,Inflow,Count,257,People
27,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/17,Inflow,Count,266,People
28,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/18,Inflow,Count,319,People
29,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/19,Inflow,Count,465,People
30,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/20,Inflow,Count,515,People
31,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/21,Inflow,Count,676,People
32,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/22,Inflow,Count,710,People
33,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/23,Inflow,Count,785,People
34,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/24,Inflow,Count,759,People
35,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/25,Inflow,Count,757,People
36,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/26,Inflow,Count,607,People
37,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/27,Inflow,Count,584,People
38,Scotland,nrs/overseas,2001-06-30T00:00:00/P1Y,M,year/28,Inflow,Count,529,People
...,...,...,...,...,...,...,...,...,...
4597,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/61,Balance,Count,-5,People
4598,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/62,Balance,Count,-7,People
4599,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/63,Balance,Count,-15,People
4600,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/64,Balance,Count,-4,People
4601,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/65,Balance,Count,-13,People
4602,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/66,Balance,Count,-8,People
4603,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/67,Balance,Count,-8,People
4604,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/68,Balance,Count,-6,People
4605,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/69,Balance,Count,-13,People
4606,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/70,Balance,Count,-13,People
4607,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/71,Balance,Count,-8,People
4608,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/72,Balance,Count,-3,People
4609,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/73,Balance,Count,-6,People
4610,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/74,Balance,Count,-7,People
4611,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/75,Balance,Count,-4,People
4612,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/76,Balance,Count,-8,People
4613,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/77,Balance,Count,-5,People
4614,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/78,Balance,Count,-6,People
4615,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/79,Balance,Count,-4,People
4616,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/80,Balance,Count,-1,People
4617,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/81,Balance,Count,-1,People
4618,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/82,Balance,Count,-4,People
4619,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/83,Balance,Count,-4,People
4620,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/84,Balance,Count,0,People
4621,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/85,Balance,Count,-3,People
4622,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/86,Balance,Count,-4,People
4623,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/87,Balance,Count,0,People
4624,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/88,Balance,Count,-1,People
4625,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/89,Balance,Count,2,People
4626,Scotland,nrs/overseas,2016-06-30T00:00:00/P1Y,M,year/90,Balance,Count,-4,People