# Migration between Scotland and overseas by age

Tab: `SYOA Females (2001-)`

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.nrscotland.gov.uk/statistics-and-data/statistics/' \
                      'statistics-by-theme/migration/migration-statistics/migration-between-scotland-and-overseas')
#     scraper.run()
    distribution = scraper.distribution(
        mediaType='application/vnd.ms-excel',
        title='Migration between Scotland and overseas by age')
    display(distribution)
    tab = distribution.as_pandas(sheet_name = 'SYOA Females (2001-)')

In [2]:
tab

,"In, out and net migration of females between Scotland and overseas by single year of age: 2001-02 to latest",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,In migration of females from overseas 2001-02 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,All ages,Single year of age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-02,13050,136,225.0,188.0,195.0,185.0,152.0,124.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2002-03,12177,114,160.0,169.0,143.0,170.0,115.0,96.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2003-04,14274,146,218.0,155.0,144.0,158.0,138.0,116.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2004-05,20624,221,277.0,252.0,261.0,229.0,191.0,178.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2005-06,20211,227,309.0,257.0,220.0,207.0,189.0,162.0,141.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2006-07,21529,232,331.0,275.0,273.0,261.0,202.0,198.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2007-08,21486,258,316.0,272.0,258.0,243.0,204.0,171.0,163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2008-09,21526,295,318.0,276.0,239.0,228.0,185.0,150.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2009-10,22792,313,339.0,271.0,242.0,220.0,196.0,168.0,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010-11,21632,266,309.0,271.0,241.0,220.0,195.0,162.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2011-12,18242,185,245.0,207.0,184.0,183.0,150.0,127.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2012-13,14286,150,189.0,186.0,157.0,161.0,119.0,112.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2013-14,16909,163,251.0,229.0,196.0,187.0,155.0,136.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014-15,19138,162,263.0,255.0,209.0,193.0,179.0,161.0,127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-16,20577,197,303.0,261.0,242.0,229.0,211.0,181.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-17,15369,137,220.0,185.0,168.0,166.0,167.0,134.0,127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Out migration of females to overseas 2001-02 t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Year,All ages,Single year of age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2001-02,11959,97,197.0,164.0,163.0,146.0,140.0,123.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2002-03,12135,91,166.0,168.0,150.0,156.0,134.0,114.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2003-04,11705,93,174.0,138.0,135.0,144.0,125.0,103.0,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2004-05,13430,107,186.0,179.0,171.0,158.0,139.0,130.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2005-06,14727,125,208.0,190.0,163.0,152.0,149.0,134.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2006-07,9633,75,142.0,121.0,118.0,111.0,89.0,82.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2009-10,11252,117,178.0,149.0,130.0,115.0,100.0,87.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2010-11,7774,70,106.0,104.0,84.0,85.0,73.0,63.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2011-12,12165,99,162.0,151.0,137.0,127.0,115.0,95.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2012-13,12239,98,158.0,148.0,139.0,138.0,100.0,93.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2013-14,11985,92,156.0,150.0,142.0,128.0,110.0,97.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2014-15,8758,59,114.0,103.0,91.0,88.0,83.0,74.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2015-16,8497,61,105.0,96.0,96.0,87.0,77.0,68.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2016-17,9728,74,126.0,126.0,110.0,97.0,89.0,84.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Net migration of females from overseas 2001-02...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Year,All ages,Single year of age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2001-02,1091,39,28.0,24.0,32.0,39.0,12.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2002-03,42,23,-6.0,1.0,-7.0,14.0,-19.0,-18.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2003-04,2569,53,44.0,17.0,9.0,14.0,13.0,13.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2004-05,7194,114,91.0,73.0,90.0,71.0,52.0,48.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2005-06,5484,102,101.0,67.0,57.0,55.0,40.0,28.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2006-07,11896,157,189.0,154.0,155.0,150.0,113.0,116.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2007-08,7363,138,124.0,92.0,84.0,86.0,71.0,59.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2008-09,10149,179,152.0,128.0,104.0,103.0,79.0,64.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2009-10,11540,196,161.0,122.0,112.0,105.0,96.0,81.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2010-11,13858,196,203.0,167.0,157.0,135.0,122.0,99.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2011-12,6077,86,83.0,56.0,47.0,56.0,35.0,32.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2012-13,2047,52,31.0,38.0,18.0,23.0,19.0,19.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2013-14,4924,71,95.0,79.0,54.0,59.0,45.0,39.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2014-15,10380,103,149.0,152.0,118.0,105.0,96.0,87.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2015-16,12080,136,198.0,165.0,146.0,142.0,134.0,113.0,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2016-17,5641,63,94.0,59.0,58.0,69.0,78.0,50.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
61,© Crown Copyright 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Final_table = pd.DataFrame()

In [4]:
observations = tab.iloc[3:20, :93]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0])
observations.columns.values[0] = -1
observations.columns.values[1] = -2
observations.drop(observations.index[0], inplace = True)
new_table = pd.melt(observations, id_vars=[-1], var_name='Age', value_name='Value')
new_table.Value.dropna(inplace =True)
new_table['temp'] = new_table[-1].str[0:2]
new_table = new_table[new_table['temp'] == '20']
new_table['Age'].fillna('anything', inplace = True)
new_table['Age'] = new_table['Age'].astype(int)
new_table['Age'] = new_table['Age'].astype(str)
new_table = new_table[new_table['Age'] != 'anything' ]
new_table.columns = ['Mid Year' if x== -1 else x for x in new_table.columns]
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'
new_table['Area of Destination or Origin'] = 'World'
new_table['Sex'] = 'F'
new_table['Flow'] = 'Inflow'
new_table['Mid Year'] = new_table['Mid Year'].map(lambda x: str(x)[0:4])
new_table['Mid Year'] = new_table['Mid Year'] + '-06-30T00:00:00/P1Y'
new_table['Age'] = new_table['Age'].map(lambda cell: cell.replace('-2', 'all'))
new_table['Age'] = 'year/' + new_table['Age']
Final_table = pd.concat([Final_table, new_table])

In [5]:
Final_table.count()

Mid Year                         1472
Age                              1472
Value                            1472
temp                             1472
Unit                             1472
Measure Type                     1472
Area of Destination or Origin    1472
Sex                              1472
Flow                             1472
dtype: int64

In [6]:
observations = tab.iloc[23:40, :93]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0])
observations.columns.values[0] = -1
observations.columns.values[1] = -2
observations.drop(observations.index[0], inplace = True)
new_table = pd.melt(observations, id_vars=[-1], var_name='Age', value_name='Value')
new_table.Value.dropna(inplace =True)
new_table['temp'] = new_table[-1].str[0:2]
new_table = new_table[new_table['temp'] == '20']
new_table['Age'].fillna('anything', inplace = True)
new_table['Age'] = new_table['Age'].astype(int)
new_table['Age'] = new_table['Age'].astype(str)
new_table = new_table[new_table['Age'] != 'anything' ]
new_table.columns = ['Mid Year' if x== -1 else x for x in new_table.columns]
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'
new_table['Area of Destination or Origin'] = 'World'
new_table['Sex'] = 'F'
new_table['Flow'] = 'Outflow'
new_table['Mid Year'] = new_table['Mid Year'].map(lambda x: str(x)[0:4])
new_table['Mid Year'] = new_table['Mid Year'] + '-06-30T00:00:00/P1Y'
new_table['Age'] = new_table['Age'].map(lambda cell: cell.replace('-2', 'all'))
new_table['Age'] = 'year/' + new_table['Age']
Final_table = pd.concat([Final_table, new_table])

In [7]:
Final_table.count()

Mid Year                         2944
Age                              2944
Value                            2944
temp                             2944
Unit                             2944
Measure Type                     2944
Area of Destination or Origin    2944
Sex                              2944
Flow                             2944
dtype: int64

In [8]:
observations = tab.iloc[43:61, :93]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0])
observations.columns.values[0] = -1
observations.columns.values[1] = -2
observations.drop(observations.index[0], inplace = True)
new_table = pd.melt(observations, id_vars=[-1], var_name='Age', value_name='Value')
new_table.Value.dropna(inplace =True)
new_table['temp'] = new_table[-1].str[0:2]
new_table = new_table[new_table['temp'] == '20']
new_table['Age'].fillna('anything', inplace = True)
new_table['Age'] = new_table['Age'].astype(int)
new_table['Age'] = new_table['Age'].astype(str)
new_table = new_table[new_table['Age'] != 'anything' ]
new_table.columns = ['Mid Year' if x== -1 else x for x in new_table.columns]
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'
new_table['Area of Destination or Origin'] = 'World'
new_table['Sex'] = 'F'
new_table['Flow'] = 'Balance'
new_table['Mid Year'] = new_table['Mid Year'].map(lambda x: str(x)[0:4])
new_table['Mid Year'] = new_table['Mid Year'] + '-06-30T00:00:00/P1Y'
new_table['Age'] = new_table['Age'].map(lambda cell: cell.replace('-2', 'all'))
new_table['Age'] = 'year/' + new_table['Age']
Final_table = pd.concat([Final_table, new_table])

In [9]:
Final_table.count()

Mid Year                         4416
Age                              4416
Value                            4416
temp                             4416
Unit                             4416
Measure Type                     4416
Area of Destination or Origin    4416
Sex                              4416
Flow                             4416
dtype: int64

In [10]:
Final_table = Final_table[['Area of Destination or Origin','Mid Year','Sex','Age','Flow','Measure Type','Value','Unit']]