# Migration between administrative areas and overseas by sex

Tab: `In-Council Area-Sex`

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.nrscotland.gov.uk/statistics-and-data/statistics/' \
                      'statistics-by-theme/migration/migration-statistics/migration-between-scotland-and-overseas')
    scraper.run()
    distribution = scraper.distribution(
        mediaType='application/vnd.ms-excel',
        title='Migration between administrative areas and overseas by sex')
    display(distribution)
    tab = [tab for tab in distribution.as_databaker() if tab.name == 'In-Council Area-Sex'][0]

In [2]:
observations = tab.excel_ref("B6").expand(RIGHT).expand(DOWN).is_not_blank().is_not_whitespace()
observations

{<H57 5474.0>, <F20 7990.0>, <D11 85.0>, <F80 2133.0>, <N34 371.0>, <L31 383.0>, <P107 140.0>, <H88 108.0>, <J29 2130.0>, <P79 '2015-16'>, <M84 3982.0>, <F11 173.0>, <C11 68.0>, <I14 118.0>, <F54 69.0>, <Q87 538.0>, <I26 226.0>, <C111 100.0>, <B110 75.0>, <D91 80.0>, <H31 685.0>, <F63 110.0>, <O26 158.0>, <H12 524.0>, <F8 446.0>, <O58 449.0>, <G74 664.0>, <J79 '2009-10'>, <B30 390.0>, <D10 7812.0>, <Q47 4285.0>, <Q68 134.0>, <M58 322.0>, <O67 269.0>, <D108 215.0>, <I68 248.0>, <G106 34.0>, <G92 291.0>, <L52 53.0>, <I98 195.0>, <F82 251.0>, <I11 178.0>, <E88 96.0>, <L60 71.0>, <D56 700.0>, <H55 317.0>, <L99 26.0>, <C50 469.0>, <G35 1009.0>, <G90 179.0>, <B71 180.0>, <J26 235.0>, <L25 44.0>, <G99 51.0>, <C45 50.0>, <L56 856.0>, <Q110 62.0>, <N97 79.0>, <K20 10256.0>, <L29 1384.0>, <G27 1181.0>, <P19 2051.0>, <D107 69.0>, <O85 50.0>, <M22 71.0>, <L80 2202.0>, <B77 'In-migration - Females'>, <O45 142.0>, <K82 231.0>, <M37 500.0>, <K52 83.0>, <I85 87.0>, <I81 768.0>, <L93 1106.0>, <Q88 47.0>, <L24 315.0>, <N42 '2013-14'>, <N88 46.0>, <G102 21.0>, <J37 930.0>, <J10 11837.0>, <E107 155.0>, <P17 179.0>, <Q50 643.0>, <K54 71.0>, <M23 88.0>, <E103 795.0>, <F83 248.0>, <C90 87.0>, <Q16 345.0>, <O71 236.0>, <E90 136.0>, <M104 158.0>, <I25 76.0>, <G104 407.0>, <M105 130.0>, <P14 114.0>, <N100 72.0>, <H48 92.0>, <I79 '2008-09'>, <H63 136.0>, <Q7 758.0>, <L65 18.0>, <B58 331.0>, <K61 209.0>, <E100 117.0>, <N28 52.0>, <M86 96.0>, <M43 1788.0>, <G83 283.0>, <H20 9769.0>, <L53 152.0>, <B99 24.0>, <D94 3148.0>, <D58 324.0>, <O32 93.0>, <E34 767.0>, <Q62 35.0>, <Q101 241.0>, <M92 124.0>, <Q59 55.0>, <C106 21.0>, <P31 315.0>, <C34 358.0>, <C35 619.0>, <Q14 106.0>, <O61 176.0>, <C32 33.0>, <M82 126.0>, <L100 66.0>, <B16 234.0>, <C61 162.0>, <Q55 207.0>, <P23 207.0>, <Q21 730.0>, <B46 96.0>, <I58 639.0>, <C21 472.0>, <O86 137.0>, <N84 4565.0>, <L110 45.0>, <E101 345.0>, <G10 10185.0>, <F42 '2005-06'>, <J57 5647.0>, <J28 63.0>, <C30 427.0>, <B89 90.0>, <B23 154.0>, <M88 35.0>, <B14 99.0>, <P96 59.0>, <Q58 389.0>, <K105 191.0>, <L54 39.0>, <L90 255.0>, <N54 53.0>, <H109 477.0>, <Q94 4296.0>, <L97 103.0>, <K85 64.0>, <G64 633.0>, <I97 98.0>, <N26 136.0>, <G59 112.0>, <J54 95.0>, <B104 172.0>, <C72 269.0>, <P111 318.0>, <G56 1081.0>, <L49 122.0>, <E69 25.0>, <E33 345.0>, <E62 45.0>, <G79 '2006-07'>, <C97 63.0>, <N103 554.0>, <M34 308.0>, <J80 2836.0>, <J96 100.0>, <M20 7088.0>, <G50 1007.0>, <O24 332.0>, <K51 56.0>, <J66 1215.0>, <Q95 341.0>, <H61 266.0>, <N85 58.0>, <C23 114.0>, <O97 85.0>, <N44 518.0>, <I48 91.0>, <C59 138.0>, <O15 105.0>, <Q73 73.0>, <Q29 702.0>, <D34 429.0>, <M80 1848.0>, <H73 88.0>, <I54 73.0>, <J65 34.0>, <J21 1309.0>, <Q12 239.0>, <P95 479.0>, <H46 199.0>, <D36 164.0>, <C14 78.0>, <P35 818.0>, <B72 301.0>, <I53 200.0>, <B100 117.0>, <F70 146.0>, <Q9 296.0>, <N91 72.0>, <E95 760.0>, <O62 31.0>, <E74 292.0>, <P104 404.0>, <G105 334.0>, <I105 272.0>, <F59 130.0>, <M28 49.0>, <I30 662.0>, <F107 180.0>, <O37 561.0>, <F44 745.0>, <F58 760.0>, <G93 1210.0>, <J15 154.0>, <D8 136.0>, <B93 917.0>, <Q86 109.0>, <E50 937.0>, <C105 90.0>, <B7 599.0>, <G96 105.0>, <E66 843.0>, <N30 431.0>, <H103 1009.0>, <K12 358.0>, <B83 118.0>, <I90 249.0>, <P48 69.0>, <E86 232.0>, <B95 173.0>, <K46 178.0>, <Q61 108.0>, <F56 1006.0>, <C87 389.0>, <L84 4995.0>, <B21 504.0>, <H89 69.0>, <L89 58.0>, <C92 120.0>, <J62 33.0>, <O60 86.0>, <K103 672.0>, <H59 94.0>, <E108 369.0>, <J35 1249.0>, <E70 190.0>, <I83 207.0>, <Q92 172.0>, <N36 116.0>, <P28 52.0>, <O65 26.0>, <G84 5129.0>, <I8 458.0>, <M56 660.0>, <H70 181.0>, <F45 195.0>, <E94 3715.0>, <F65 32.0>, <P63 93.0>, <O79 '2014-15'>, <Q90 172.0>, <O25 55.0>, <O23 171.0>, <Q71 285.0>, <P91 102.0>, <Q48 84.0>, <N101 223.0>, <F90 164.0>, <G95 793.0>, <I82 240.0>, <J105 191.0>, <F86 246.0>, <M66 466.0>, <O27 623.0>, <K108 264.0>, <B63 96.0>, <N66 687.0>, <O63 80.0>, <L108 211.0>, <J23 207.0>, <N31 283.0>, <J108 315.0>, <L81 502.0>, <M83 132.0>, <M24 227.0>, <P50 674.0>, <B109 371.0>, <K91 63.0>, <K18 502.0>, <J59 100.0>, <P74 339.0>, <K49 184.0>, <D66 302.0>, <H18 564.0>, <M33 167.0>, <J111 442.0>, <C22 244.0>, <H83 215.0>, <L6 4414.0>, <B59 211.0>, <E27 733.0>, <G61 264.0>, <O98 156.0>, <B68 133.0>, <C73 77.0>, <Q27 584.0>, <B40 'In-migration - Males'>, <Q84 4253.0>, <O94 4881.0>, <G80 2517.0>, <I89 84.0>, <Q85 89.0>, <C12 199.0>, <K93 1258.0>, <H15 136.0>, <H97 107.0>, <N29 1241.0>, <I96 76.0>, <D109 399.0>, <P36 194.0>, <L20 8550.0>, <M81 469.0>, <E51 99.0>, <I35 959.0>, <P6 4157.0>, <F96 136.0>, <H43 2850.0>, <P21 920.0>, <G68 306.0>, <I21 1292.0>, <G47 5056.0>, <Q69 30.0>, <D47 3681.0>, <F24 530.0>, <B48 40.0>, <D63 129.0>, <D32 59.0>, <M94 3318.0>, <N10 8462.0>, <F52 103.0>, <G87 838.0>, <I27 899.0>, <Q64 343.0>, <C42 '2002-03'>, <K92 255.0>, <O12 281.0>, <L94 4169.0>, <G30 911.0>, <F21 1530.0>, <J11 150.0>, <I59 103.0>, <H11 189.0>, <E105 276.0>, <F49 275.0>, <P109 427.0>, <F93 1163.0>, <G29 2043.0>, <D55 188.0>, <I29 2160.0>, <P18 383.0>, <E49 270.0>, <J60 103.0>, <G23 212.0>, <K89 77.0>, <L83 164.0>, <K16 428.0>, <F64 462.0>, <M98 108.0>, <C54 56.0>, <H107 149.0>, <E58 735.0>, <H50 1093.0>, <F68 300.0>, <G91 76.0>, <Q65 27.0>, <I61 193.0>, <F79 '2005-06'>, <E87 790.0>, <E45 168.0>, <O13 1388.0>, <H69 53.0>, <L61 173.0>, <L101 245.0>, <Q15 141.0>, <M6 3636.0>, <K111 398.0>, <H33 330.0>, <D88 66.0>, <G21 1773.0>, <O99 24.0>, <J92 217.0>, <C98 115.0>, <C36 145.0>, <K95 515.0>, <H100 125.0>, <Q8 304.0>, <E65 22.0>, <L109 583.0>, <H66 1334.0>, <D54 59.0>, <K62 36.0>, <O57 5528.0>, <N35 614.0>, <E104 308.0>, <I23 180.0>, <O53 166.0>, <J47 6000.0>, <I24 388.0>, <C109 350.0>, <M35 685.0>, <J83 250.0>, <D46 137.0>, <C66 201.0>, <O74 290.0>, <O102 27.0>, <E24 506.0>, <C6 2578.0>, <E31 554.0>, <I51 47.0>, <M25 28.0>, <P34 640.0>, <D33 157.0>, <H27 1079.0>, <E79 '2004-05'>, <K71 296.0>, <F67 416.0>, <G58 980.0>, <K59 52.0>, <F35 888.0>, <G44 773.0>, <F28 50.0>, <P86 172.0>, <M73 46.0>, <B26 213.0>, <D103 351.0>, <F92 288.0>, <N27 490.0>, <E63 142.0>, <O101 288.0>, <I18 505.0>, <G65 33.0>, <O48 48.0>, <G51 90.0>, <F99 43.0>, <J104 406.0>, <H9 414.0>, <O100 78.0>, <E16 255.0>, <P99 39.0>, <B79 '2001-02'>, <K96 47.0>, <B28 31.0>, <B50 350.0>, <D97 69.0>, <B24 138.0>, <D101 210.0>, <F17 161.0>, <E59 219.0>, <K72 605.0>, <Q49 130.0>, <E28 50.0>, <O110 58.0>, <G89 113.0>, <L67 206.0>, <P88 66.0>, <D85 43.0>, <F30 811.0>, <M31 250.0>, <L68 190.0>, <N47 3897.0>, <P20 11462.0>, <K87 1058.0>, <G48 113.0>, <D106 30.0>, <O17 127.0>, <C47 3172.0>, <G32 76.0>, <P68 155.0>, <J30 847.0>, <B22 392.0>, <H7 1514.0>, <C25 29.0>, <F101 382.0>, <N108 184.0>, <P51 48.0>, <H104 340.0>, <I12 388.0>, <B52 110.0>, <B33 153.0>, <P8 346.0>, <D83 163.0>, <N70 81.0>, <J50 1203.0>, <C19 1358.0>, <L42 '2011-12'>, <M15 77.0>, <L9 304.0>, <J61 241.0>, <C107 84.0>, <L36 112.0>, <I66 1311.0>, <N96 36.0>, <O70 126.0>, <B53 107.0>, <L37 743.0>, <M36 101.0>, <O69 49.0>, <L69 44.0>, <J109 678.0>, <I17 155.0>, <B42 '2001-02'>, <H17 137.0>, <G28 54.0>, <M46 103.0>, <L13 1583.0>, <I100 95.0>, <F9 460.0>, <F32 65.0>, <H98 234.0>, <M29 841.0>, <P42 '2015-16'>, <P87 765.0>, <P84 5647.0>, <G111 584.0>, <G103 948.0>, <E82 206.0>, <M97 38.0>, <M52 40.0>, <D45 70.0>, <B45 47.0>, <K69 49.0>, <I16 449.0>, <K109 758.0>, <E89 142.0>, <D64 206.0>, <E15 296.0>, <P102 21.0>, <C53 71.0>, <O43 2251.0>, <G16 382.0>, <C67 243.0>, <G9 541.0>, <C8 106.0>, <B15 200.0>, <N56 717.0>, <H13 2072.0>, <F62 44.0>, <N110 61.0>, <N13 1276.0>, <E92 286.0>, <Q28 48.0>, <E18 668.0>, <J63 126.0>, <K88 60.0>, <L14 113.0>, <B98 63.0>, <O20 10409.0>, <E19 2492.0>, <D14 131.0>, <H23 198.0>, <J90 213.0>, <L55 151.0>, <M17 88.0>, <B19 1624.0>, <N6 4202.0>, <C91 79.0>, <N105 156.0>, <H44 764.0>, <H108 329.0>, <C16 158.0>, <I86 214.0>, <L30 428.0>, <C74 113.0>, <Q26 182.0>, <F27 844.0>, <M32 60.0>, <H56 1073.0>, <B8 101.0>, <I65 24.0>, <L98 142.0>, <L104 222.0>, <E17 175.0>, <H30 690.0>, <J52 72.0>, <I73 96.0>, <L105 193.0>, <I110 76.0>, <Q11 173.0>, <D52 85.0>, <M109 389.0>, <K23 179.0>, <J81 815.0>, <J18 456.0>, <K79 '2010-11'>, <B82 54.0>, <M49 104.0>, <C80 1229.0>, <P93 1096.0>, <N12 212.0>, <B111 142.0>, <N55 177.0>, <I31 520.0>, <Q80 1489.0>, <K86 174.0>, <J98 210.0>, <M47 3269.0>, <Q17 128.0>, <G60 108.0>, <I52 96.0>, <E12 502.0>, <G36 231.0>, <F102 18.0>, <C51 45.0>, <Q34 523.0>, <K60 72.0>, <B6 2956.0>, <P85 88.0>, <B90 127.0>, <I62 32.0>, <F71 383.0>, <G100 107.0>, <P67 400.0>, <J94 4518.0>, <D42 '2003-04'>, <K106 52.0>, <M11 74.0>, <Q18 379.0>, <L72 471.0>, <H94 4295.0>, <D7 778.0>, <I47 5304.0>, <Q45 176.0>, <D67 327.0>, <E106 47.0>, <Q109 318.0>, <B25 48.0>, <H90 264.0>, <F34 735.0>, <B44 295.0>, <M53 116.0>, <I45 218.0>, <H95 695.0>, <D100 103.0>, <D110 73.0>, <H86 259.0>, <D18 392.0>, <C52 96.0>, <C60 51.0>, <J43 3015.0>, <C103 216.0>, <G85 135.0>, <D104 327.0>, <H67 350.0>, <H16 548.0>, <Q35 603.0>, <P103 448.0>, <F19 2169.0>, <B55 165.0>, <Q25 64.0>, <P32 91.0>, <N43 2071.0>, <L28 38.0>, <F84 5345.0>, <E29 1638.0>, <P72 391.0>, <C27 343.0>, <F48 86.0>, <K80 2602.0>, <J17 193.0>, <P52 83.0>, <D111 168.0>, <L71 238.0>, <D74 160.0>, <D98 121.0>, <K29 1628.0>, <L96 43.0>, <E85 89.0>, <N15 102.0>, <C31 180.0>, <Q56 817.0>, <B11 90.0>, <O10 9650.0>, <L73 67.0>, <N98 128.0>, <J68 203.0>, <D70 88.0>, <D93 937.0>, <F43 2326.0>, <F105 282.0>, <M102 25.0>, <L64 283.0>, <D102 17.0>, <Q82 128.0>, <H26 261.0>, <N95 364.0>, <F85 87.0>, <F69 34.0>, <N82 181.0>, <K107 138.0>, <K42 '2010-11'>, <C58 221.0>, <K9 360.0>, <L8 369.0>, <N93 912.0>, <L91 37.0>, <Q97 76.0>, <B67 218.0>, <L86 122.0>, <M18 235.0>, <N80 2131.0>, <B80 1374.0>, <O51 39.0>, <M7 978.0>, <K100 111.0>, <L44 560.0>, <C82 56.0>, <N64 267.0>, <I37 957.0>, <K33 306.0>, <P89 103.0>, <I44 745.0>, <N109 352.0>, <B86 102.0>, <D72 293.0>, <L111 358.0>, <O9 299.0>, <H35 927.0>, <N32 51.0>, <I6 5864.0>, <K32 101.0>, <N94 4304.0>, <O50 677.0>, <N8 340.0>, <M107 94.0>, <D79 '2003-04'>, <K56 1040.0>, <B57 5301.0>, <Q22 100.0>, <K110 75.0>, <H37 1144.0>, <L62 18.0>, <K6 5284.0>, <H54 63.0>, <K45 282.0>, <F55 280.0>, <Q67 363.0>, <D59 103.0>, <M27 410.0>, <I80 2801.0>, <J12 375.0>, <J46 225.0>, <D71 214.0>, <D24 240.0>, <O87 711.0>, <J74 488.0>, <L92 161.0>, <Q91 65.0>, <F31 582.0>, <I71 379.0>, <J36 200.0>, <K97 107.0>, <K83 182.0>, <G97 104.0>, <D73 91.0>, <H71 379.0>, <M91 50.0>, <J55 239.0>, <I32 148.0>, <L21 761.0>, <C20 7927.0>, <H22 187.0>, <M96 32.0>, <H79 '2007-08'>, <D29 653.0>, <E26 259.0>, <M59 39.0>, <B61 75.0>, <N18 327.0>, <E83 234.0>, <H52 67.0>, <I67 350.0>, <E48 63.0>, <L12 244.0>, <Q57 5409.0>, <P105 160.0>, <G66 1095.0>, <K34 560.0>, <C101 164.0>, <C88 33.0>, <P7 978.0>, <I56 1142.0>, <D48 42.0>, <H102 20.0>, <J85 74.0>, <H25 78.0>, <P73 93.0>, <H85 97.0>, <G55 371.0>, <N63 64.0>, <E84 5785.0>, <H62 37.0>, <O35 1033.0>, <N89 55.0>, <F50 859.0>, <C24 277.0>, <Q72 285.0>, <E42 '2004-05'>, <D92 204.0>, <Q60 83.0>, <H93 1136.0>, <H58 864.0>, <J53 213.0>, <B96 181.0>, <N60 70.0>, <E43 2194.0>, <B29 467.0>, <I103 849.0>, <P56 955.0>, <I69 81.0>, <J20 10165.0>, <B9 214.0>, <H99 41.0>, <I49 174.0>, <D61 119.0>, <L10 9306.0>, <D99 25.0>, <O93 1043.0>, <H60 91.0>, <L85 61.0>, <P13 1439.0>, <Q43 1693.0>, <C29 417.0>, <P60 102.0>, <O64 335.0>, <E72 337.0>, <O88 51.0>, <H74 597.0>, <G52 107.0>, <G34 720.0>, <N72 262.0>, <I95 653.0>, <J89 82.0>, <I55 257.0>, <C56 563.0>, <M13 1374.0>, <E98 228.0>, <E9 465.0>, <J82 286.0>, <I104 312.0>, <C44 236.0>, <P101 344.0>, <K63 111.0>, <N99 16.0>, <O36 121.0>, <C79 '2002-03'>, <L27 528.0>, <M79 '2012-13'>, <B85 50.0>, <D82 66.0>, <C33 185.0>, <G69 42.0>, <F22 266.0>, <Q93 863.0>, <Q10 8538.0>, <J88 81.0>, <Q24 200.0>, <Q99 29.0>, <N111 269.0>, <B17 170.0>, <B12 200.0>, <O56 875.0>, <B74 113.0>, <K104 353.0>, <J97 104.0>, <M69 35.0>, <G72 467.0>, <N48 70.0>, <L58 380.0>, <F66 900.0>, <O21 918.0>, <I94 4326.0>, <P80 2204.0>, <G70 172.0>, <D27 416.0>, <L66 761.0>, <F61 259.0>, <D49 128.0>, <M93 850.0>, <B20 8877.0>, <D90 111.0>, <C55 168.0>, <B36 161.0>, <B81 304.0>, <K43 2682.0>, <E37 557.0>, <C81 278.0>, <F53 191.0>, <D17 139.0>, <B32 54.0>, <B69 27.0>, <E52 154.0>, <E47 5226.0>, <I84 5350.0>, <D51 65.0>, <P55 179.0>, <G7 1511.0>, <N74 292.0>, <C9 239.0>, <N102 26.0>, <O16 412.0>, <F73 95.0>, <G86 225.0>, <J19 2678.0>, <N87 639.0>, <K81 751.0>, <D20 7199.0>, <M61 119.0>, <M87 681.0>, <Q79 '2016-17'>, <I70 127.0>, <J34 688.0>, <O82 148.0>, <L17 76.0>, <C84 3395.0>, <G108 365.0>, <O14 90.0>, <I9 432.0>, <O80 2339.0>, <K11 104.0>, <O34 454.0>, <Q32 53.0>, <J87 993.0>, <H10 9990.0>, <L59 34.0>, <D28 39.0>, <K13 2250.0>, <E111 265.0>, <J44 743.0>, <C43 1349.0>, <H49 265.0>, <M26 110.0>, <G31 640.0>, <H6 5409.0>, <K94 4619.0>, <L51 55.0>, <L88 58.0>, <L50 844.0>, <J32 102.0>, <P59 72.0>, <N61 154.0>, <I7 1513.0>, <H80 2559.0>, <B70 85.0>, <H106 41.0>, <B34 371.0>, <E102 28.0>, <F94 3519.0>, <Q33 251.0>, <O111 271.0>, <H65 28.0>, <C102 17.0>, <Q70 134.0>, <K31 373.0>, <B97 80.0>, <O89 59.0>, <M57 3770.0>, <K73 85.0>, <P83 183.0>, <C62 16.0>, <K17 134.0>, <O49 144.0>, <B65 18.0>, <J84 5837.0>, <H19 2209.0>, <E10 11011.0>, <N81 544.0>, <F88 59.0>, <Q52 78.0>, <L34 449.0>, <E68 278.0>, <D26 232.0>, <Q89 63.0>, <O90 246.0>, <M14 78.0>, <O8 290.0>, <G107 161.0>, <P44 500.0>, <L82 187.0>, <C65 14.0>, <P62 33.0>, <O104 279.0>, <L19 1962.0>, <I102 23.0>, <H51 114.0>, <F15 212.0>, <F29 1733.0>, <D89 102.0>, <N45 159.0>, <B64 213.0>, <K21 1023.0>, <F7 1557.0>, <P37 657.0>, <N71 187.0>, <I88 71.0>, <J71 373.0>, <L79 '2011-12'>, <P90 262.0>, <G11 248.0>, <H92 247.0>, <J58 634.0>, <F109 495.0>, <N49 110.0>, <F72 393.0>, <P82 172.0>, <L47 4311.0>, <O68 124.0>, <M21 619.0>, <L46 140.0>, <J7 1558.0>, <B73 86.0>, <I99 44.0>, <E71 398.0>, <J99 36.0>, <K98 198.0>, <D15 187.0>, <N73 55.0>, <F98 271.0>, <M103 375.0>, <G13 1845.0>, <Q30 631.0>, <J93 1419.0>, <D35 692.0>, <C104 184.0>, <F97 98.0>, <B66 259.0>, <I15 180.0>, <H111 547.0>, <O55 172.0>, <G110 113.0>, <D65 22.0>, <O19 1918.0>, <M101 197.0>, <G57 5048.0>, <P16 455.0>, <O6 4590.0>, <C46 105.0>, <G63 153.0>, <F91 92.0>, <P47 4820.0>, <Q104 268.0>, <G98 252.0>, <O81 537.0>, <N62 16.0>, <P70 116.0>, <M95 297.0>, <I63 131.0>, <P46 168.0>, <B13 667.0>, <I36 172.0>, <E21 1495.0>, <K24 407.0>, <L35 1054.0>, <N79 '2013-14'>, <E30 698.0>, <B51 51.0>, <D86 115.0>, <G37 1248.0>, <M16 252.0>, <H81 750.0>, <J25 69.0>, <L23 174.0>, <K68 182.0>, <M71 158.0>, <O54 54.0>, <O29 948.0>, <J70 168.0>, <N23 149.0>, <P64 391.0>, <P10 10467.0>, <F87 771.0>, <F89 109.0>, <J67 441.0>, <O109 568.0>, <M44 509.0>, <K53 203.0>, <M9 235.0>, <N11 128.0>, <C17 135.0>, <C68 90.0>, <J48 76.0>, <P66 490.0>, <H14 222.0>, <G82 182.0>, <B102 13.0>, <B56 707.0>, <B27 435.0>, <B47 3271.0>, <I19 2403.0>, <F25 87.0>, <G22 217.0>, <E60 74.0>, <N67 230.0>, <N9 239.0>, <K58 508.0>, <N37 561.0>, <F36 185.0>, <O84 5181.0>, <K65 49.0>, <C70 101.0>, <M45 153.0>, <P49 168.0>, <Q36 135.0>, <I111 437.0>, <F108 352.0>, <N104 201.0>, <Q102 21.0>, <M42 '2012-13'>, <F60 102.0>, <P58 441.0>, <C110 68.0>, <O73 63.0>, <J6 5851.0>, <G8 424.0>, <E13 1727.0>, <J86 188.0>, <L48 55.0>, <N53 140.0>, <P53 193.0>, <J102 29.0>, <C49 104.0>, <C18 288.0>, <P25 72.0>, <I10 10654.0>, <G33 333.0>, <D6 2893.0>, <P54 77.0>, <Q81 347.0>, <Q31 257.0>, <K25 60.0>, <K101 299.0>, <L63 83.0>, <G20 9119.0>, <N50 637.0>, <G94 4071.0>, <O52 46.0>, <E99 35.0>, <P98 146.0>, <I34 717.0>, <F103 833.0>, <B18 306.0>, <K37 871.0>, <G46 258.0>, <I108 338.0>, <G18 662.0>, <E8 374.0>, <F18 568.0>, <J8 554.0>, <K84 5794.0>, <B37 255.0>, <K35 1363.0>, <O18 377.0>, <J24 451.0>, <E97 92.0>, <J95 675.0>, <B49 98.0>, <G12 493.0>, <N16 341.0>, <E7 1387.0>, <L15 111.0>, <H34 708.0>, <O33 254.0>, <J42 '2009-10'>, <K10 11219.0>, <L43 2212.0>, <N90 201.0>, <L18 312.0>, <C63 76.0>, <I92 248.0>, <L107 118.0>, <O95 469.0>, <P11 157.0>, <H87 979.0>, <C10 6567.0>, <E64 388.0>, <P33 256.0>, <F47 5114.0>, <P24 321.0>, <N59 34.0>, <I101 416.0>, <D37 328.0>, <N92 150.0>, <N52 47.0>, <E44 694.0>, <K90 225.0>, <N46 118.0>, <H47 4947.0>, <D81 393.0>, <D21 740.0>, <Q106 23.0>, <D25 46.0>, <L74 385.0>, <L57 4381.0>, <P69 47.0>, <P15 186.0>, <O59 53.0>, <G6 5350.0>, <F100 111.0>, <K26 222.0>, <M63 63.0>, <M65 24.0>, <O42 '2014-15'>, <O103 452.0>, <J51 69.0>, <L87 739.0>, <E56 1101.0>, <E91 92.0>, <E14 195.0>, <C89 85.0>, <B88 48.0>, <J56 1259.0>, <P106 44.0>, <G14 163.0>, <D43 1434.0>, <B78 'Year'>, <M64 213.0>, <H101 511.0>, <B10 6774.0>, <Q100 95.0>, <F106 31.0>, <E32 72.0>, <O11 98.0>, <N25 32.0>, <C64 179.0>, <E23 166.0>, <D22 206.0>, <Q103 290.0>, <B54 86.0>, <E54 83.0>, <I22 179.0>, <P110 101.0>, <O96 47.0>, <H82 257.0>, <O44 543.0>, <M89 37.0>, <E20 8417.0>, <N86 102.0>, <K22 99.0>, <P65 31.0>, <Q54 63.0>, <D12 243.0>, <P92 204.0>, <L103 623.0>, <G45 242.0>, <E73 97.0>, <M106 25.0>, <K28 66.0>, <K64 334.0>, <E53 119.0>, <L16 407.0>, <G19 2291.0>, <E11 152.0>, <E55 382.0>, <E96 212.0>, <O28 53.0>, <Q96 45.0>, <I46 225.0>, <J101 380.0>, <H42 '2007-08'>, <B103 208.0>, <P9 351.0>, <K57 5637.0>, <E110 99.0>, <N65 26.0>, <G42 '2006-07'>, <I106 67.0>, <N21 719.0>, <P100 91.0>, <Q105 123.0>, <K44 687.0>, <E80 2128.0>, <C57 4665.0>, <I57 5696.0>, <B35 672.0>, <K7 1438.0>, <G53 203.0>, <M12 200.0>, <B84 3503.0>, <H105 348.0>, <I43 3063.0>, <P27 735.0>, <D13 812.0>, <C99 13.0>, <B101 222.0>, <C7 514.0>, <M30 331.0>, <N106 22.0>, <C28 31.0>, <H68 337.0>, <K55 247.0>, <G73 118.0>, <J91 98.0>, <N19 1629.0>, <M54 38.0>, <L26 149.0>, <F95 770.0>, <K99 24.0>, <Q23 159.0>, <P94 5377.0>, <N17 125.0>, <O46 154.0>, <M90 136.0>, <M60 50.0>, <Q37 523.0>, <M74 268.0>, <B107 68.0>, <Q6 3182.0>, <C85 33.0>, <B43 1582.0>, <Q42 '2016-17'>, <O83 145.0>, <K66 956.0>, <P12 340.0>, <H21 1559.0>, <M67 173.0>, <G43 2833.0>, <Q63 87.0>, <C37 213.0>, <J45 268.0>, <O107 128.0>, <B108 191.0>, <G109 542.0>, <N33 166.0>, <I13 1924.0>, <G25 99.0>, <K48 40.0>, <P43 1953.0>, <J13 2196.0>, <K36 160.0>, <E36 196.0>, <K47 5425.0>, <O72 465.0>, <Q46 152.0>, <N24 282.0>, <N68 127.0>, <J64 401.0>, <P57 6085.0>, <C100 83.0>, <G26 260.0>, <D23 128.0>, <G101 548.0>, <E22 431.0>, <N7 1062.0>, <B94 3576.0>, <H24 500.0>, <O105 140.0>, <G17 143.0>, <D19 1637.0>, <M19 1510.0>, <J73 108.0>, <D95 416.0>, <M8 279.0>, <F46 212.0>, <N58 355.0>, <G24 516.0>, <G71 355.0>, <O66 496.0>, <J49 187.0>, <J31 394.0>, <K30 729.0>, <N107 85.0>, <D84 4131.0>, <I50 1010.0>, <P81 478.0>, <O31 264.0>, <N69 29.0>, <P30 804.0>, <C15 181.0>, <E25 80.0>, <E93 1391.0>, <B105 118.0>, <E46 231.0>, <M62 12.0>, <M55 111.0>, <B92 141.0>, <L11 116.0>, <P22 131.0>, <C108 182.0>, <I28 47.0>, <H84 5043.0>, <H72 450.0>, <B106 27.0>, <D96 103.0>, <L95 381.0>, <E61 278.0>, <H28 48.0>, <Q74 308.0>, <M85 34.0>, <F81 812.0>, <M72 296.0>, <M111 232.0>, <D16 209.0>, <J16 426.0>, <K74 473.0>, <D53 98.0>, <D60 59.0>, <M10 7251.0>, <H32 94.0>, <M99 16.0>, <E67 390.0>, <K67 376.0>, <M70 73.0>, <I91 82.0>, <H91 74.0>, <G49 268.0>, <O22 100.0>, <J9 475.0>, <D69 29.0>, <P71 308.0>, <C94 3262.0>, <F33 326.0>, <P108 332.0>, <O30 548.0>, <E35 815.0>, <N83 121.0>, <C95 251.0>, <F13 1630.0>, <C26 159.0>, <L22 77.0>, <L106 47.0>, <C69 12.0>, <H110 68.0>, <B31 251.0>, <B62 24.0>, <Q108 238.0>, <P29 938.0>, <C96 106.0>, <H96 93.0>, <Q98 92.0>, <D68 168.0>, <C48 35.0>, <I109 525.0>, <F16 355.0>, <D31 364.0>, <H53 284.0>, <G15 220.0>, <J107 159.0>, <J100 109.0>, <N51 48.0>, <L45 182.0>, <J22 200.0>, <C71 176.0>, <C86 95.0>, <C13 858.0>, <H45 259.0>, <M100 47.0>, <Q66 412.0>, <L32 91.0>, <L33 241.0>, <J106 44.0>, <F104 395.0>, <J103 915.0>, <H29 2343.0>, <J69 58.0>, <G67 504.0>, <O108 218.0>, <D44 385.0>, <D30 654.0>, <E6 4322.0>, <N20 8897.0>, <H36 156.0>, <E57 4702.0>, <I60 82.0>, <F111 437.0>, <H64 568.0>, <K50 1192.0>, <G81 738.0>, <Q107 117.0>, <G62 48.0>, <J33 327.0>, <M50 693.0>, <K8 513.0>, <M110 55.0>, <F12 521.0>, <F57 4471.0>, <P61 175.0>, <O106 44.0>, <M51 43.0>, <E109 478.0>, <K15 160.0>, <D105 196.0>, <B41 'Year'>, <I33 275.0>, <G54 67.0>, <O7 1080.0>, <M108 150.0>, <I74 520.0>, <C93 795.0>, <L102 20.0>, <F23 200.0>, <Q53 173.0>, <N57 4593.0>, <F110 90.0>, <D50 448.0>, <M48 40.0>, <D62 21.0>, <N14 94.0>, <L7 1062.0>, <F37 967.0>, <I20 10022.0>, <K27 633.0>, <J27 781.0>, <B60 74.0

In [3]:
observations = observations - tab.excel_ref('B').by_index([38,39,40,41,42,75,76,77,78,79])

In [4]:
Area  = tab.excel_ref('A6').expand(DOWN).is_not_blank() - tab.excel_ref('A').expand(DOWN).by_index([38,39,40,41,42,75,76,77,78,79])
Area

{<A50 'Dundee City'>, <A64 'North Lanarkshire'>, <A114 '1) Please note that asylum seekers are included for estimates for all years, refugees are included in 2015-16 estimates and onwards.'>, <A61 'Moray'>, <A53 'East Lothian'>, <A36 'West Dunbartonshire'>, <A102 'Orkney Islands'>, <A82 'Angus'>, <A26 'North Ayrshire'>, <A34 'South Lanarkshire'>, <A98 'Moray'>, <A56 'Fife'>, <A72 'Stirling'>, <A109 'Stirling'>, <A32 'Shetland Islands'>, <A31 'Scottish Borders'>, <A58 'Highland'>, <A101 'North Lanarkshire'>, <A19 'Fife'>, <A10 'City of Edinburgh'>, <A108 'South Lanarkshire'>, <A116 'Â© Crown Copyright 2018'>, <A52 'East Dunbartonshire'>, <A74 'West Lothian'>, <A55 'Falkirk'>, <A54 'East Renfrewshire'>, <A33 'South Ayrshire'>, <A25 'Na h-Eileanan Siar'>, <A73 'West Dunbartonshire'>, <A6 'Aberdeen City'>, <A87 'Dundee City'>, <A27 'North Lanarkshire'>, <A97 'Midlothian'>, <A43 'Aberdeen City'>, <A95 'Highland'>, <A62 'Na h-Eileanan Siar'>, <A110 'West Dunbartonshire'>, <A28 'Orkney Islands'>, <A51 'East Ayrshire'>, <A68 'Scottish Borders'>, <A85 'Clackmannanshire'>, <A103 'Perth and Kinross'>, <A44 'Aberdeenshire'>, <A8 'Angus'>, <A35 'Stirling'>, <A11 'Clackmannanshire'>, <A30 'Renfrewshire'>, <A49 'Dumfries and Galloway'>, <A86 'Dumfries and Galloway'>, <A99 'Na h-Eileanan Siar'>, <A15 'East Dunbartonshire'>, <A65 'Orkney Islands'>, <A23 'Midlothian'>, <A22 'Inverclyde'>, <A16 'East Lothian'>, <A59 'Inverclyde'>, <A12 'Dumfries and Galloway'>, <A18 'Falkirk'>, <A37 'West Lothian'>, <A63 'North Ayrshire'>, <A67 'Renfrewshire'>, <A80 'Aberdeen City'>, <A45 'Angus'>, <A83 'Argyll & Bute'>, <A13 'Dundee City'>, <A60 'Midlothian'>, <A20 'Glasgow City'>, <A89 'East Dunbartonshire'>, <A48 'Clackmannanshire'>, <A81 'Aberdeenshire'>, <A100 'North Ayrshire'>, <A106 'Shetland Islands'>, <A70 'South Ayrshire'>, <A91 'East Renfrewshire'>, <A92 'Falkirk'>, <A96 'Inverclyde'>, <A71 'South Lanarkshire'>, <A24 'Moray'>, <A46 'Argyll & Bute'>, <A14 'East Ayrshire'>, <A111 'West Lothian'>, <A66 'Perth and Kinross'>, <A84 'City of Edinburgh'>, <A17 'East Renfrewshire'>, <A9 'Argyll & Bute'>, <A93 'Fife'>, <A69 'Shetland Islands'>, <A113 'Footnote'>, <A105 'Scottish Borders'>, <A94 'Glasgow City'>, <A47 'City of Edinburgh'>, <A107 'South Ayrshire'>, <A90 'East Lothian'>, <A88 'East Ayrshire'>, <A104 'Renfrewshire'>, <A7 'Aberdeenshire'>, <A21 'Highland'>, <A29 'Perth and Kinross'>, <A57 'Glasgow City'>}

In [5]:
flow = tab.excel_ref('B').expand(DOWN).by_index([3,40,77])
flow

{<B40 'In-migration - Males'>, <B77 'In-migration - Females'>, <B3 'In-migration - Persons'>}

In [6]:
midyear = tab.excel_ref('B5').expand(RIGHT).is_not_blank()
midyear

{<G5 '2006-07'>, <Q5 '2016-17'>, <F5 '2005-06'>, <N5 '2013-14'>, <C5 '2002-03'>, <I5 '2008-09'>, <O5 '2014-15'>, <B5 '2001-02'>, <E5 '2004-05'>, <J5 '2009-10'>, <K5 '2010-11'>, <L5 '2011-12'>, <P5 '2015-16'>, <H5 '2007-08'>, <M5 '2012-13'>, <D5 '2003-04'>}

In [7]:
Dimensions = [
            HDim(midyear,'Mid Year',DIRECTLY,ABOVE),
            HDim(Area,'Area of Destination or Origin', DIRECTLY, LEFT),
            HDim(flow,'flow',CLOSEST,ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Flow','Inflow'),
            HDimConst('Age', 'all')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Mid Year,Area of Destination or Origin,flow,Measure Type,Unit,Flow,Age
0,2956.0,NaN,2001-02,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
1,2578.0,NaN,2002-03,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
2,2893.0,NaN,2003-04,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
3,4322.0,NaN,2004-05,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
4,4459.0,NaN,2005-06,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
5,5350.0,NaN,2006-07,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
6,5409.0,NaN,2007-08,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
7,5864.0,NaN,2008-09,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
8,5851.0,NaN,2009-10,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
9,5284.0,NaN,2010-11,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
10,4414.0,NaN,2011-12,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
11,3636.0,NaN,2012-13,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
12,4202.0,NaN,2013-14,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
13,4590.0,NaN,2014-15,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
14,4157.0,NaN,2015-16,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
15,3182.0,NaN,2016-17,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
16,599.0,NaN,2001-02,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
17,514.0,NaN,2002-03,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
18,778.0,NaN,2003-04,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
19,1387.0,NaN,2004-05,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
20,1557.0,NaN,2005-06,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
21,1511.0,NaN,2006-07,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
22,1514.0,NaN,2007-08,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
23,1513.0,NaN,2008-09,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
24,1558.0,NaN,2009-10,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
25,1438.0,NaN,2010-11,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
26,1062.0,NaN,2011-12,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
27,978.0,NaN,2012-13,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
28,1062.0,NaN,2013-14,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
29,1080.0,NaN,2014-15,Aberdeenshire,In-migration - Persons,Count,People,Inflow,all
...,...,...,...,...,...,...,...,...,...
1536,73.0,NaN,2003-04,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1537,99.0,NaN,2004-05,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1538,90.0,NaN,2005-06,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1539,113.0,NaN,2006-07,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1540,68.0,NaN,2007-08,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1541,76.0,NaN,2008-09,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1542,92.0,NaN,2009-10,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1543,75.0,NaN,2010-11,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1544,45.0,NaN,2011-12,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1545,55.0,NaN,2012-13,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1546,61.0,NaN,2013-14,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1547,58.0,NaN,2014-15,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1548,101.0,NaN,2015-16,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1549,62.0,NaN,2016-17,West Dunbartonshire,In-migration - Females,Count,People,Inflow,all
1550,142.0,NaN,2001-02,West Lothian,In-migration - Females,Count,People,Inflow,all
1551,100.0,NaN,2002-03,West Lothian,In-migration - Females,Count,People,Inflow,all
1552,168.0,NaN,2003-04,West Lothian,In-migration - Females,Count,People,Inflow,all
1553,265.0,NaN,2004-05,West Lothian,In-migration - Females,Count,People,Inflow,all
1554,437.0,NaN,2005-06,West Lothian,In-migration - Females,Count,People,Inflow,all
1555,584.0,NaN,2006-07,West Lothian,In-migration - Females,Count,People,Inflow,all
1556,547.0,NaN,2007-08,West Lothian,In-migration - Females,Count,People,Inflow,all
1557,437.0,NaN,2008-09,West Lothian,In-migration - Females,Count,People,Inflow,all
1558,442.0,NaN,2009-10,West Lothian,In-migration - Females,Count,People,Inflow,all
1559,398.0,NaN,2010-11,West Lothian,In-migration - Females,Count,People,Inflow,all
1560,358.0,NaN,2011-12,West Lothian,In-migration - Females,Count,People,Inflow,all
1561,232.0,NaN,2012-13,West Lothian,In-migration - Females,Count,People,Inflow,all
1562,269.0,NaN,2013-14,West Lothian,In-migration - Females,Count,People,Inflow,all
1563,271.0,NaN,2014-15,West Lothian,In-migration - Females,Count,People,Inflow,all
1564,318.0,NaN,2015-16,West Lothian,In-migration - Females,Count,People,Inflow,all
1565,215.0,NaN,2016-17,West Lothian,In-migration - Females,Count,People,Inflow,all

In [10]:
new_table.shape

(1566, 9)

In [11]:
new_table.count()

OBS                              1566
DATAMARKER                         30
Mid Year                         1566
Area of Destination or Origin    1536
flow                             1566
Measure Type                     1566
Unit                             1566
Flow                             1566
Age                              1566
dtype: int64

In [12]:
new_table = new_table[new_table['Area of Destination or Origin'].isnull() == False]

In [13]:
new_table = new_table[new_table['Mid Year'].isnull() == False]

In [14]:
new_table.dtypes

OBS                              float64
DATAMARKER                        object
Mid Year                          object
Area of Destination or Origin     object
flow                              object
Measure Type                      object
Unit                              object
Flow                              object
Age                               object
dtype: object

In [15]:
new_table.head()

,OBS,DATAMARKER,Mid Year,Area of Destination or Origin,flow,Measure Type,Unit,Flow,Age
0,2956.0,NaN,2001-02,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
1,2578.0,NaN,2002-03,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
2,2893.0,NaN,2003-04,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
3,4322.0,NaN,2004-05,Aberdeen City,In-migration - Persons,Count,People,Inflow,all
4,4459.0,NaN,2005-06,Aberdeen City,In-migration - Persons,Count,People,Inflow,all

In [16]:
new_table['Mid Year'] = new_table['Mid Year'].map(lambda x: str(x)[0:4])

In [17]:
new_table['Mid Year'] = new_table['Mid Year'] + '-06-30T00:00:00/P1Y'

In [18]:
new_table['Sex'] = new_table['flow'].map(lambda x: str(x)[15:])

In [19]:
new_table['Sex'].unique()

array(['Persons', 'Males', 'Females'], dtype=object)

In [20]:
new_table['Value'] = new_table['OBS'].astype(int)

In [21]:
new_table['Sex'] = new_table['Sex'].map(
    lambda x: {
        'Persons' : 'T', 
        'Females' : 'F',
        'Males': 'M' 
        }.get(x, x))

In [22]:
new_table.dtypes

OBS                              float64
DATAMARKER                        object
Mid Year                          object
Area of Destination or Origin     object
flow                              object
Measure Type                      object
Unit                              object
Flow                              object
Age                               object
Sex                               object
Value                              int64
dtype: object

In [23]:
new_table.head()

,OBS,DATAMARKER,Mid Year,Area of Destination or Origin,flow,Measure Type,Unit,Flow,Age,Sex,Value
0,2956.0,NaN,2001-06-30T00:00:00/P1Y,Aberdeen City,In-migration - Persons,Count,People,Inflow,all,T,2956
1,2578.0,NaN,2002-06-30T00:00:00/P1Y,Aberdeen City,In-migration - Persons,Count,People,Inflow,all,T,2578
2,2893.0,NaN,2003-06-30T00:00:00/P1Y,Aberdeen City,In-migration - Persons,Count,People,Inflow,all,T,2893
3,4322.0,NaN,2004-06-30T00:00:00/P1Y,Aberdeen City,In-migration - Persons,Count,People,Inflow,all,T,4322
4,4459.0,NaN,2005-06-30T00:00:00/P1Y,Aberdeen City,In-migration - Persons,Count,People,Inflow,all,T,4459

In [24]:
new_table['flow'].unique()

array(['In-migration - Persons', 'In-migration - Males',
       'In-migration - Females'], dtype=object)

In [25]:
new_table = new_table[['Area of Destination or Origin','Mid Year','Sex','Age','Flow','Measure Type','Value','Unit']]

In [26]:
new_table.dtypes

Area of Destination or Origin    object
Mid Year                         object
Sex                              object
Age                              object
Flow                             object
Measure Type                     object
Value                             int64
Unit                             object
dtype: object

In [27]:
new_table.head(5)

,Area of Destination or Origin,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
0,Aberdeen City,2001-06-30T00:00:00/P1Y,T,all,Inflow,Count,2956,People
1,Aberdeen City,2002-06-30T00:00:00/P1Y,T,all,Inflow,Count,2578,People
2,Aberdeen City,2003-06-30T00:00:00/P1Y,T,all,Inflow,Count,2893,People
3,Aberdeen City,2004-06-30T00:00:00/P1Y,T,all,Inflow,Count,4322,People
4,Aberdeen City,2005-06-30T00:00:00/P1Y,T,all,Inflow,Count,4459,People

In [28]:
new_table.tail(5)

,Area of Destination or Origin,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
1561,West Lothian,2012-06-30T00:00:00/P1Y,F,all,Inflow,Count,232,People
1562,West Lothian,2013-06-30T00:00:00/P1Y,F,all,Inflow,Count,269,People
1563,West Lothian,2014-06-30T00:00:00/P1Y,F,all,Inflow,Count,271,People
1564,West Lothian,2015-06-30T00:00:00/P1Y,F,all,Inflow,Count,318,People
1565,West Lothian,2016-06-30T00:00:00/P1Y,F,all,Inflow,Count,215,People

In [29]:
new_table.count()

Area of Destination or Origin    1536
Mid Year                         1536
Sex                              1536
Age                              1536
Flow                             1536
Measure Type                     1536
Value                            1536
Unit                             1536
dtype: int64

In [30]:
new_table['Area of Destination or Origin'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll & Bute',
       'City of Edinburgh', 'Clackmannanshire', 'Dumfries and Galloway',
       'Dundee City', 'East Ayrshire', 'East Dunbartonshire',
       'East Lothian', 'East Renfrewshire', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'Na h-Eileanan Siar', 'North Ayrshire', 'North Lanarkshire',
       'Orkney Islands', 'Perth and Kinross', 'Renfrewshire',
       'Scottish Borders', 'Shetland Islands', 'South Ayrshire',
       'South Lanarkshire', 'Stirling', 'West Dunbartonshire',
       'West Lothian'], dtype=object)