# Migration between administrative areas and overseas by sex

Tab: `Out-Council Area-Sex`

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.nrscotland.gov.uk/statistics-and-data/statistics/' \
                      'statistics-by-theme/migration/migration-statistics/migration-between-scotland-and-overseas')
#     scraper.run()
    distribution = scraper.distribution(
        mediaType='application/vnd.ms-excel',
        title='Migration between administrative areas and overseas by sex')
    display(distribution)
    tab = [tab for tab in distribution.as_databaker() if tab.name == 'Out-Council Area-Sex'][0]

In [2]:
cell = tab.filter('Council areas')
flow = cell.fill(RIGHT).is_not_blank().is_not_whitespace()
midyear = cell.shift(0,2).expand(RIGHT).is_not_blank().is_not_whitespace()
observations = midyear.shift(0,1).expand(DOWN).is_not_blank().is_not_whitespace().is_not_bold() 
observations = observations.filter(lambda x: type(x.value) != str or 'Year' not in x.value) - midyear -flow
area = cell.expand(DOWN).is_not_blank().is_not_whitespace()

In [3]:
Dimensions = [
            HDim(midyear,'Mid Year',DIRECTLY,ABOVE),
            HDim(area,'Domestic geography', DIRECTLY, LEFT),
            HDim(flow,'flow',CLOSEST,ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','People'),
            HDimConst('Flow','outflow'),
            HDimConst('Age', 'all')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)
tidy = c1.topandas()

In [4]:
tidy['Mid Year'] = tidy['Mid Year'].map(lambda x: str(x)[0:4]) + '-06-30T00:00:00/P1Y'
tidy['Foreign geography'] = 'nrs/overseas'

In [5]:
for col in tidy.columns:
    if col not in ['OBS']:
        tidy[col] = tidy[col].astype('category')
        display(col)
        display(tidy[col].cat.categories)

'Mid Year'

Index(['2001-06-30T00:00:00/P1Y', '2002-06-30T00:00:00/P1Y',
       '2003-06-30T00:00:00/P1Y', '2004-06-30T00:00:00/P1Y',
       '2005-06-30T00:00:00/P1Y', '2006-06-30T00:00:00/P1Y',
       '2007-06-30T00:00:00/P1Y', '2008-06-30T00:00:00/P1Y',
       '2009-06-30T00:00:00/P1Y', '2010-06-30T00:00:00/P1Y',
       '2011-06-30T00:00:00/P1Y', '2012-06-30T00:00:00/P1Y',
       '2013-06-30T00:00:00/P1Y', '2014-06-30T00:00:00/P1Y',
       '2015-06-30T00:00:00/P1Y', '2016-06-30T00:00:00/P1Y'],
      dtype='object')

'Domestic geography'

Index(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll & Bute',
       'City of Edinburgh', 'Clackmannanshire', 'Dumfries and Galloway',
       'Dundee City', 'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'Falkirk', 'Fife', 'Glasgow City', 'Highland',
       'Inverclyde', 'Midlothian', 'Moray', 'Na h-Eileanan Siar',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire', 'Stirling',
       'West Dunbartonshire', 'West Lothian'],
      dtype='object')

'flow'

Index(['Out-migration - Females', 'Out-migration - Males',
       'Out-migration - Persons'],
      dtype='object')

'Measure Type'

Index(['Count'], dtype='object')

'Unit'

Index(['People'], dtype='object')

'Flow'

Index(['outflow'], dtype='object')

'Age'

Index(['all'], dtype='object')

'Foreign geography'

Index(['nrs/overseas'], dtype='object')

In [6]:
tidy['Sex'] = tidy['flow'].map(lambda x: str(x)[16:])
tidy['Sex'] = tidy['Sex'].map(
    lambda x: {
        'Persons' : 'T', 
        'Females' : 'F',
        'Males': 'M' 
        }.get(x, x))

In [7]:
import numpy as np
tidy['OBS'].replace('', np.nan, inplace=True)
tidy.dropna(subset=['OBS'], inplace=True)
if 'DATAMARKER' in tidy.columns:
    tidy.drop(columns=['DATAMARKER'], inplace=True)
tidy.rename(columns={'OBS': 'Value'}, inplace=True)
tidy['Value'] = tidy['Value'].astype(int)

In [8]:
tidy = tidy[['Domestic geography', 'Foreign geography','Mid Year','Sex','Age','Flow','Measure Type','Value','Unit']]

In [9]:
tidy

,Domestic geography,Foreign geography,Mid Year,Sex,Age,Flow,Measure Type,Value,Unit
0,Aberdeen City,nrs/overseas,2001-06-30T00:00:00/P1Y,T,all,outflow,Count,2123,People
1,Aberdeen City,nrs/overseas,2002-06-30T00:00:00/P1Y,T,all,outflow,Count,2193,People
2,Aberdeen City,nrs/overseas,2003-06-30T00:00:00/P1Y,T,all,outflow,Count,2019,People
3,Aberdeen City,nrs/overseas,2004-06-30T00:00:00/P1Y,T,all,outflow,Count,2172,People
4,Aberdeen City,nrs/overseas,2005-06-30T00:00:00/P1Y,T,all,outflow,Count,2321,People
5,Aberdeen City,nrs/overseas,2006-06-30T00:00:00/P1Y,T,all,outflow,Count,1598,People
6,Aberdeen City,nrs/overseas,2007-06-30T00:00:00/P1Y,T,all,outflow,Count,2379,People
7,Aberdeen City,nrs/overseas,2008-06-30T00:00:00/P1Y,T,all,outflow,Count,2195,People
8,Aberdeen City,nrs/overseas,2009-06-30T00:00:00/P1Y,T,all,outflow,Count,2109,People
9,Aberdeen City,nrs/overseas,2010-06-30T00:00:00/P1Y,T,all,outflow,Count,1154,People
10,Aberdeen City,nrs/overseas,2011-06-30T00:00:00/P1Y,T,all,outflow,Count,2312,People
11,Aberdeen City,nrs/overseas,2012-06-30T00:00:00/P1Y,T,all,outflow,Count,2334,People
12,Aberdeen City,nrs/overseas,2013-06-30T00:00:00/P1Y,T,all,outflow,Count,2237,People
13,Aberdeen City,nrs/overseas,2014-06-30T00:00:00/P1Y,T,all,outflow,Count,1401,People
14,Aberdeen City,nrs/overseas,2015-06-30T00:00:00/P1Y,T,all,outflow,Count,1683,People
15,Aberdeen City,nrs/overseas,2016-06-30T00:00:00/P1Y,T,all,outflow,Count,1691,People
16,Aberdeenshire,nrs/overseas,2001-06-30T00:00:00/P1Y,T,all,outflow,Count,737,People
17,Aberdeenshire,nrs/overseas,2002-06-30T00:00:00/P1Y,T,all,outflow,Count,848,People
18,Aberdeenshire,nrs/overseas,2003-06-30T00:00:00/P1Y,T,all,outflow,Count,651,People
19,Aberdeenshire,nrs/overseas,2004-06-30T00:00:00/P1Y,T,all,outflow,Count,764,People
20,Aberdeenshire,nrs/overseas,2005-06-30T00:00:00/P1Y,T,all,outflow,Count,902,People
21,Aberdeenshire,nrs/overseas,2006-06-30T00:00:00/P1Y,T,all,outflow,Count,675,People
22,Aberdeenshire,nrs/overseas,2007-06-30T00:00:00/P1Y,T,all,outflow,Count,1109,People
23,Aberdeenshire,nrs/overseas,2008-06-30T00:00:00/P1Y,T,all,outflow,Count,908,People
24,Aberdeenshire,nrs/overseas,2009-06-30T00:00:00/P1Y,T,all,outflow,Count,839,People
25,Aberdeenshire,nrs/overseas,2010-06-30T00:00:00/P1Y,T,all,outflow,Count,715,People
26,Aberdeenshire,nrs/overseas,2011-06-30T00:00:00/P1Y,T,all,outflow,Count,853,People
27,Aberdeenshire,nrs/overseas,2012-06-30T00:00:00/P1Y,T,all,outflow,Count,862,People
28,Aberdeenshire,nrs/overseas,2013-06-30T00:00:00/P1Y,T,all,outflow,Count,938,People
29,Aberdeenshire,nrs/overseas,2014-06-30T00:00:00/P1Y,T,all,outflow,Count,824,People
...,...,...,...,...,...,...,...,...,...
1506,West Dunbartonshire,nrs/overseas,2003-06-30T00:00:00/P1Y,F,all,outflow,Count,114,People
1507,West Dunbartonshire,nrs/overseas,2004-06-30T00:00:00/P1Y,F,all,outflow,Count,130,People
1508,West Dunbartonshire,nrs/overseas,2005-06-30T00:00:00/P1Y,F,all,outflow,Count,108,People
1509,West Dunbartonshire,nrs/overseas,2006-06-30T00:00:00/P1Y,F,all,outflow,Count,92,People
1510,West Dunbartonshire,nrs/overseas,2007-06-30T00:00:00/P1Y,F,all,outflow,Count,108,People
1511,West Dunbartonshire,nrs/overseas,2008-06-30T00:00:00/P1Y,F,all,outflow,Count,108,People
1512,West Dunbartonshire,nrs/overseas,2009-06-30T00:00:00/P1Y,F,all,outflow,Count,66,People
1513,West Dunbartonshire,nrs/overseas,2010-06-30T00:00:00/P1Y,F,all,outflow,Count,50,People
1514,West Dunbartonshire,nrs/overseas,2011-06-30T00:00:00/P1Y,F,all,outflow,Count,79,People
1515,West Dunbartonshire,nrs/overseas,2012-06-30T00:00:00/P1Y,F,all,outflow,Count,76,People
1516,West Dunbartonshire,nrs/overseas,2013-06-30T00:00:00/P1Y,F,all,outflow,Count,73,People
1517,West Dunbartonshire,nrs/overseas,2014-06-30T00:00:00/P1Y,F,all,outflow,Count,68,People
1518,West Dunbartonshire,nrs/overseas,2015-06-30T00:00:00/P1Y,F,all,outflow,Count,52,People
1519,West Dunbartonshire,nrs/overseas,2016-06-30T00:00:00/P1Y,F,all,outflow,Count,60,People
1520,West Lothian,nrs/overseas,2001-06-30T00:00:00/P1Y,F,all,outflow,Count,203,People
1521,West Lothian,nrs/overseas,2002-06-30T00:00:00/P1Y,F,all,outflow,Count,179,People
1522,West Lothian,nrs/overseas,2003-06-30T00:00:00/P1Y,F,all,outflow,Count,192,People
1523,West Lothian,nrs/overseas,2004-06-30T00:00:00/P1Y,F,all,outflow,Count,174,People
1524,West Lothian,nrs/overseas,2005-06-30T00:00:00/P1Y,F,all,outflow,Count,169,People
1525,West Lothian,nrs/overseas,2006-06-30T00:00:00/P1Y,F,all,outflow,Count,174,People
1526,West Lothian,nrs/overseas,2007-06-30T00:00:00/P1Y,F,all,outflow,Count,281,People
1527,West Lothian,nrs/overseas,2008-06-30T00:00:00/P1Y,F,all,outflow,Count,265,People
1528,West Lothian,nrs/overseas,2009-06-30T00:00:00/P1Y,F,all,outflow,Count,251,People
1529,West Lothian,nrs/overseas,2010-06-30T00:00:00/P1Y,F,all,outflow,Count,155,People
1530,West Lothian,nrs/overseas,2011-06-30T00:00:00/P1Y,F,all,outflow,Count,229,People
1531,West Lothian,nrs/overseas,2012-06-30T00:00:00/P1Y,F,all,outflow,Count,218,People
1532,West Lothian,nrs/overseas,2013-06-30T00:00:00/P1Y,F,all,outflow,Count,233,People
1533,West Lothian,nrs/overseas,2014-06-30T00:00:00/P1Y,F,all,outflow,Count,168,People
1534,West Lothian,nrs/overseas,2015-06-30T00:00:00/P1Y,F,all,outflow,Count,135,People
1535,West Lothian,nrs/overseas,2016-06-30T00:00:00/P1Y,F,all,outflow,Count,136,People